@import url("./pages/login/login.css");
@import url("./pages/cadastro/cadastro.css");
@import url("./pages/feed/feed.css");

* {
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed; 
}



/* 749f64521a7c7f07d4aeed9c3253e0a9 1 */
/* 
position: absolute;
width: 375px;
height: 812px;
left: 0px;
top: 0px;

background: url(749f64521a7c7f07d4aeed9c3253e0a9.jpg); */
